*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    /* background: radial-gradient(circle, rgb(166, 91, 196), dodgerblue, rgb(35, 35, 209)); */
    background: #d6e1e6;
}
.mainLose{
    animation: lose .25s 8 forwards;
}
@keyframes lose {
    0%{
        background: #f72c2c;
    }
    100%{
        background: #f3aaaa;
    }
}
.mainWin{
    animation: win .25s 8 forwards;
}
@keyframes win {
    0%{
        background: #d6e1e6;
    }
    100%{
        background: #fad947;
    }
}
.title{
    text-align: center;
    width: 300px;
    background:rgb(248, 63, 63);
    padding: 20px 0;
    border: 4px solid #ddd;
    border-radius: 50%;
    color: #fff;
    margin: auto;
}   
.title span{
    color: #6CE5E8;
}
.win, .lose{
    text-align: center;
    margin: 30px 0;
    text-transform: uppercase;
    font-size: 50px;
}

.lose{
    color: rgb(214, 8, 8);
    text-shadow: 0 0 10px rgb(230, 41, 41);
}
.win{
    color: #fffdf0;
    text-shadow: 0 0 10px rgb(250, 215, 14);
}
.container{
    width: 70%;
    margin:  auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.box{
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 16px 0;
    background: #fff;
    box-shadow: 0 0 15px #bebebe;
}
.image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.controler{
    text-align: center;
    margin-top: 50px;
}
#btn{
    padding: 12px 28px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    background-color: green;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .1s ease;
}
#btn:hover{
    opacity: .7;
    cursor: pointer;
}
#btn:active{
    transform: scale(.93);
}

.alert{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    transition: 0.3s;
    text-align: center;
}
.ok__btn{
    color: red;
    padding: 8px 25px;
    margin-top: 30px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    background-color: green;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .1s ease;
}
.ok__btn:hover{
    opacity: .7;
    cursor: pointer;
}

@media screen and (max-width:650px) {
    .container{
        width: 98%;
        grid-gap: 5px;
        margin-top: 35%;
    }
    .box{
        height: 120px;
    }
    .win, .lose{
        margin: 15px 0;
        font-size: 30px;
    }
}

